
body{
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#calculater{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 2%, 23%, 0.434);
    background-o
    border-radius: 15px;
    max-width: 400px;
    
    overflow: hidden;
    

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 1.8rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;


}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);

}
.operator-btn{
    background-color: orangered;
    text-align: center;
    
}
.operator-btn:hover{
    background-color: black;
}